ello.xcodeproj/xcuserdata/*
ello.xcodeproj/project.xcworkspace/xcuserdata/*
.svn*
.DS_Store
ello.xcodeproj/*
.DS_Store
*.mode1v3
*.pbxuser
*.perspectivev3
*.tm_build_errors

*.pbxuser
*.perspective
*.perspectivev3

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

xcuserdata
*.mode1v3
*.mode2v3
.DS_Store
*.swp
*~.nib

build/